<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="description" content="My Library">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Egor Kudryashov">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Book Description</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/script.js"></script>
</head>
<body>
<header>
    <a class="home-button" href="/">Home</a>
    <a class="user" href="#">Егор</a>
    <div class="search-line">
        <form action="/book_list" method="get">
            <input name="wordLine" placeholder="🔎 Искать книгу..." type="search">
        </form>
    </div>
    <article class="dropdown">
        <button id="genres-button">Жанры</button>
        <nav class="dropdown__options">
            <a th:each="genre : ${genreList}"
               th:id="${genre.getId()}"
               th:href="@{/book_list(genre=${genre.getId()})}"
               th:text="${genre.getName()}">
            </a>
        </nav>
    </article>
</header>
<main>
    <div class="white-bg">
        <div class="description-card" id="description-card">
            <img th:src="@{${book.imageSource}}">
            <section class="desc-container">
                <p class="desc-container__desc-author" th:text="${book.author()}"></p>
                <p class="desc-container__desc-name" th:text="${book.name()}"></p>
                <p class="desc-container__desc-text" th:text="${book.description()}"></p>
            </section>
            <div class="same-books">
                <h6 class="same-books__title">Похожая литература по мнению меня</h6>
                <nav class="same-books__container">
                    <a th:each="sameBook : ${book.sameBookList()}"
                       class="same-books__item"
                       th:href="@{/book_description(id=${sameBook.id()})}"
                       th:text="${sameBook.name()}">
                    </a>
                </nav>
            </div>
        </div>
    </div>
</main>
<footer>
    <aside class="white-bg">
        <h4 class="footer-title" id="footer-head">Как связаться с автором:</h4>
        <ul class="markers">
            <li th:each="contact : ${contactList}"
                th:id="${contact.getCssClass()}"
                th:text="${contact.getName()}">
            </li>
        </ul>
    </aside>
</footer>
<script>
    active_menu();
</script>
</body>
</html>
