<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="description" content="My Library">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Egor Kudryashov">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Library</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/script.js"></script>
</head>
<body>
<header th:fragment="content">
    <a class="home-button" href="/">Home</a>
    <a class="user" href="#">Егор</a>
    <div class="search-line">
        <form action="/book_list" method="get">
            <input name="wordLine" placeholder="🔎 Искать книгу..." type="search">
        </form>
    </div>
    <article class="dropdown">
        <button id="genres-button">Жанры</button>
        <nav class="dropdown__options">
            <a th:each="genre : ${genreList}"
               th:id="${genre.getId()}"
               th:href="@{/book_list(genre=${genre.getId()})}"
               th:text="${genre.getName()}">
            </a>
        </nav>
    </article>
</header>
</body>
</html>