<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="content">
    <a class="home-button" href="/">Home</a>
    <div th:if="${isAnonymous}">
        <a class="user" href="/login">Login</a>
    </div>
    <div th:if="${!isAnonymous}">
        <a class="user" href="/logout" th:text="'Logout: ' + ${userName}"></a>
    </div>
    <div th:if="${isAdmin}">
        <a class="admin-add-book" href="/add_book_card">Create Book</a>
    </div>
    <div class="search-line">
        <form action="/book_list" method="get">
            <input name="wordLine" placeholder="🔎 Искать книгу..." type="search">
        </form>
    </div>
    <article class="dropdown">
        <button id="genres-button">Жанры</button>
        <nav class="dropdown__options">
            <a th:each="genre : ${genreList}"
               th:id="${genre.getId()}"
               th:href="@{/book_list(genre=${genre.getId()})}"
               th:text="${genre.getName()}">
            </a>
        </nav>
    </article>
</header>
</html>