<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="description" content="My Library">
    <meta name="keywords" content="HTML, CSS, JavaScript">
    <meta name="author" content="Egor Kudryashov">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Library</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/script.js"></script>
</head>
<body>
<div th:replace="header :: content"></div>
<main>
    <h1 class="welcome-phrase">Добро пожаловать в мою библиотеку</h1>
    <div class="white-bg">
        <h2 class="list-title" id="cards-title">Любимые книги автора</h2>
        <div th:replace="book_card_list :: content"></div>
    </div>
</main>
<div th:replace="footer :: content"></div>
<script>
    active_menu();
</script>
</body>
</html>
